@charset "utf-8";
/* CSS Document */
a {
    color: #2fbcdf ;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
}
a:hover, a:focus, a:active, a.active {
  color: #76d11e;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #76d11e;
    text-shadow: none;
}
.navbar-default.navbar-shrink {
  background-color: #76d11e;
  padding: 10px 0;
  transition:padding 0.3s ease 0s;
	-webkit-transition:padding 0.3s ease 0s;
}
.navbar-default .navbar-brand{
	color:#76d11e;
	}
.navbar-default{
	padding:25px 0;
	background:transparent;
	transition:padding 0.3s ease 0s;
	-webkit-transition:padding 0.3s ease 0s;
	}
.navbar-default.navbar-shrink .navbar-brand {
  color: #fff;
  font-size: 1.5em;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
	color: #76d11e;
    outline: 0 none;
}	
.navbar-default.navbar-shrink .nav li a:hover, .navbar-default.navbar-shrink .nav li a:focus{
	 color: #2fbcdf  !important;
 }
 .navbar-default .nav li a{
	color: #2fbcdf ; 
	 }
.navbar-default.navbar-shrink .nav li a{
	color: #fff; 
	 }	 
.btn-xl {
  background-color: #2fbcdf ;
  border-color: #2fbcdf ;
  border-radius: 3px;
  color: #fff;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  text-transform: uppercase;
}	 
.text-primary {
  color:#2fbcdf ;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #2fbcdf ;
  border-radius: 0;
  color: #fff !important;
}
section#contact {
  background-color: #2fbcdf /*rgba(47, 125, 242, 0.5)*/;
  background-position: center center;
}
.timeline > li .timeline-image {
  background-color: #2fbcdf ;
  border: 7px solid #f1f1f1;
}
ul.social-buttons li a {
  background-color: #2fbcdf ;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  outline: 0 none;
  transition: all 0.3s ease 0s;
  width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #76d11e;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: none repeat scroll 0 0 rgba(66, 199, 232, 0.9);
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
  background-color: #76d11e;
  border-color: #76d11e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  color: #2fbcdf ;
}
section h3.section-subheading {
  color:#fff;
}